# Server Configuration
PORT=7050
NODE_ENV=development

# SSL Configuration (Provide relative paths to your .key and .crt files to enable HTTPS)
SSL_KEY_PATH=./certs/server.key
SSL_CERT_PATH=./certs/server.crt

# Database Configuration
MONGODB_URI=mongodb://username:password@cluster.mongodb.net/dbname

# Authentication Configuration
JWT_SECRET=your_jwt_secret_here

# ICICI Configuration
ICICI_MERCHANT_ID=
ICICI_SECURE_HASH_KEY=
ICICI_INITIATE_SALE_URL=
ICICI_RETURN_URL=
ICICI_PAYMENT_ADVICE_URL=
ICICI_STATUS_URL=
ICICI_REFUND_URL=

# Media Storage Configuration
# Leave blank to automatically use local server storage fallback
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_BUCKET_NAME=your_aws_bucket_name
AWS_REGION=ap-south-1

# Delhivery Configuration
DELHIVERY_API_TOKEN=your_delhivery_api_token
DELHIVERY_BASE_URL=https://track.delhivery.com
