# Server Configuration
PORT=7050
NODE_ENV=development

# SSL Configuration (Provide relative paths to your .key and .crt files to enable HTTPS)
SSL_KEY_PATH=./certs/server.key
SSL_CERT_PATH=./certs/server.crt

# Database Configuration
MONGODB_URI=mongodb://username:password@cluster.mongodb.net/dbname

# Authentication Configuration
JWT_SECRET=your_jwt_secret_here

# CCAvenue Configuration
CCAVENUE_MERCHANT_ID=your_merchant_id
CCAVENUE_ACCESS_CODE=your_access_code
CCAVENUE_WORKING_KEY=your_working_key
CCAVENUE_REDIRECT_URL=https://sweettreeon.com/api/orders/ccavenue-callback
CCAVENUE_CANCEL_URL=https://sweettreeon.com/api/orders/ccavenue-callback

# Media Storage Configuration
# Leave blank to automatically use local server storage fallback
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_BUCKET_NAME=your_aws_bucket_name
AWS_REGION=ap-south-1

# Delhivery Configuration
DELHIVERY_API_TOKEN=your_delhivery_api_token
DELHIVERY_BASE_URL=https://track.delhivery.com
